p{
    font-size:18px;
    background-color: blue;
    color: white
}
h1{
    color:white;
    background-color: black;
}
h2{
    background-color: gray;
    color: white;
}
h3{
    color: gray;
    background-color: white;

